@*@model IList<SMS.Domain.ViewModels.BD03ViewModel_SM01DDL>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3><i class="fa fa-user fa-lg" aria-hidden="true"></i>使用者管理</h3>
<hr />


<p />
<div ng-view ></div>