
<div ng-app='MainApp' ng-controller="BD03Ctrl">
    
    <p>
    <ul class="nav nav-pills">
        <li class="icon-user active"><a href="/BD03/Add"><i class="fa fa-user-plus fa-lg" aria-hidden="true"></i>新增</a></li>
    </ul>
        </p>

    <div ng-show="isload" style="text-align:center;">
        <i class="fa fa-spinner fa-3x" aria-hidden="true"></i> Loading...
    </div>
    <table class="table table-bordered">
        <tr>
            <th style="text-align:center" width="60px">
                機關
            </th>
            <th style="text-align:center" width="60px">
                部門
            </th>
            <th  width="100">
                編號
            </th>
            <th  width="70">
                姓名
            </th>
            <th>
                電話
            </th>
            <th>
                e-mail
            </th>
            <th  width="200" >
               
            </th>
        </tr>
        <tr ng-repeat="BD03 in BD03s">
            <td style="text-align:center" width="60px">{{BD03.user_org}}</td>
            <td style="text-align:center" width="60px">{{BD03.user_dept}}</td>
            <td  width="100px">{{BD03.user_id}}</td>
            <td  width="70px">{{BD03.user_name}}</td>
            <td>{{BD03.user_tel}}</td>
            <td>{{BD03.user_mail}}</td>
            <td align="center" width="200px">

                <a class="btn btn-success" href="#" ng-click="Update(BD03.user_org,BD03.user_dept,BD03.user_id)">
                    <i class="fa fa-edit fa-lg"></i> 修改
                </a>
                <a class="btn btn-danger" href="#" ng-click="Delete(BD03)">
                    <i class="fa fa-trash-o fa-lg"></i> 刪除
                </a>


            </td>
        </tr>
    </table>
    <ul uib-pagination boundary-links="true" total-items="totalRecords" items-per-page="pageSize" ng-model="currentPage" class="pagination-sm" previous-text="上一頁" next-text="下一頁" first-text="第一頁" last-text="最後一頁" ng-change="pageChanged()"></ul>
    <pre>Current Page# : {{currentPage}}, Total Record#: {{totalRecords}}</pre>
    <div style="color:red">
        {{error}}
    </div>
</div>