<form id="myForm" name="myForm">
    <div class="panel panel-default">
        <div class="panel-body">
            <div ng-show="isload" style="text-align:center;">
                <i class="fa fa-spinner fa-3x" aria-hidden="true"></i> Loading...
            </div>

            <label for="User_Org">機關</label>&nbsp&nbsp
            <span style="color:red" ng-show="!myForm.User_org.$valid"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>必填</span>
            <div>
                <select class="form-control" id="User_Org" name="User_org" ng-model="User.user_org" ng-options="orgN.org_id as orgN.org_name  for orgN in user_orgs" ng-change="change(User.user_org)" ng-required="true">
                    <!--ng-model來指定我們的ViewModel欄位-->
                    <option value="">--請選擇--</option>
                </select>
            </div>
            <br />
            <label for="User_Dept">部門</label>&nbsp&nbsp
            <span style="color:red" ng-show="!myForm.User_dept.$valid"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>必填</span>
            <div ng-show="User.user_org">
                <select class="form-control" id="User_Dept" name="User_dept" ng-model="User.user_dept" ng-options="dept.dept_id as dept.dept_name for dept in user_depts" ng-trim="true" ng-required="true" required>
                    <option value="">--請選擇--</option>
                </select>
            </div>

            <div ng-hide="User.user_org">
                <select class="form-control" id="User_Dept1">
                    <option value="">--請選擇--</option>
                </select>
            </div>
            <br />
            <label for="User_Id">使用者編號</label>&nbsp&nbsp
            <span style="color:red" ng-show="!myForm.User_id.$valid"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>必填</span>
            <input type="text" class="form-control" id="User_Id" name="User_id" maxlength="15" ng-model="User.user_id" ng-trim="true" ng-required="true" ng-minlength="3" required>
            <br />
            <label for="User_Name">姓名</label>&nbsp&nbsp
            <span style="color:red" ng-show="!myForm.User_name.$valid"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>必填</span>
            <input type="text" class="form-control" id="User_Name" ng-model="User.user_name" name="User_name" ng-trim="true" ng-required="true" required>
            <br />
            <label for="User_Password">密碼</label>&nbsp&nbsp
            <span style="color:red" ng-show="myForm.User_password.$error.required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>必填</span>
            <span style="color:red" ng-show="myForm.User_password.$error.pattern"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>密碼格式不正確，長度6碼以上，需含大、小寫字母與數字</span>
            <input type="password" class="form-control" id="User_Password" name="User_password" ng-model="User.user_pwd" maxlength="40"  ng-trim="true" ng-required="true" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,40}$" placeholder="6碼以上，需含大、小寫字母與數字">
            <br />
            <label for="User.User_Sex">性別</label>
            <select class="form-control" id="User_Sex" ng-model="User.user_sex">
                <option value="1">男</option>
                <option value="2">女</option>
            </select>
            <br />
            <label for="User_Email">電子信箱</label>&nbsp&nbsp
            <span style="color:red;" ng-show="myForm.User_mail.$error.email"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>email格式不正確</span>
            <input type="email" class="form-control" id="User_Email" name="User_mail" ng-model="User.user_mail" ng-trim="true" maxlength="60">
            <br />
            <label for="User_Tel">電話</label>
            <input type="text" class="form-control" id="User_Tel" ng-model="User.user_tel" ng-trim="true">
            <br />
            <label for="Auth_Type">權限</label>

            <select class="form-control" id="Auth_Type" ng-model="User.auth_type">
                <option value="35">一般使用者</option>
                <option value="65">單位管理者</option>
                <option value="99">總管理者</option>
            </select>
            <br />
            <label>該帳號是否停用?</label><br />
            <label class="radio-inline">
                <input type="radio" name="usable" id="usable2" value="true" ng-model="User.usable">不停用
            </label>
            <label class="radio-inline">
                <input type="radio" name="usable" id="usable1" value="false" ng-model="User.usable">停用
            </label>

            <input type="text" class="form-control" id="old_org" ng-hide="User.user_org" ng-model="old_user_org">
            <input type="text" class="form-control" id="old_dept" ng-hide="User.user_dept" ng-model="old_user_dept">
            <input type="text" class="form-control" id="old_user_id" ng-hide="User.user_id" ng-model="old_user_id">
        </div>


        <ul class="nav nav-pills">
            <li class="active">
                <a class="btn btn-primary" href="#" ng-disabled="myForm.$invalid" ng-click="Update()">
                    <i class="fa fa-refresh" aria-hidden="true"></i> 更新
                </a>
            </li>
            <li class="active">
                <a class="btn btn-primary" href="/BD03">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    取消
                </a>
            </li>

        </ul>

    </div>
</form>

